.App {
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-main {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.card-main h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-main p {
  font-size: 12px;
  opacity: 0.7;
  margin: 0;
}

.card-main > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.card-main .card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.dragon.favorite {
  border-left: 5px solid green;
}
