*{
    margin: 0;
    padding: 0;
}

nav {
    background-color: #b9b9b9;
    padding: 14px 16px;
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
}

nav li a:hover {
    background-color: #1EDD88;
}

nav li a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}



.banner {
    background-size: cover;
    background-position: center;
    padding: 150px 0;
  }
  
  .banner h1 {
    margin: 20px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }
  
  .banner p {
    margin: 0px 0px 20px 20px;
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  .btn {
    color: white;
    padding: 8px 24px;
    margin: 20px;
    border-radius: 4px;
    background: #1EDD88;
    transition: background 0.3s ease;
  }
  
  .btn:hover {
    background: #1BCB7F;
    color: white;
  }
  

  .card-product {
    overflow: hidden;
    height: 120px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
  }
  
  .card-product img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }
  
  .card-product h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  
  .card-product p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 10px;
    margin-top: 8px;
  }
  
  .card-product .card-product-infos {
    padding: 16px;
  }
  
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    margin: 20px;
  }
  
  
  /* Smallest device */
  @media (min-width: 100px) and (max-width: 575px) {
    .cards {
      grid-template-columns: 1fr;
    }
  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    .cards {
      grid-template-columns: 1fr;
    }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .cards {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  